# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [2]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [5]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '/workspaces/ds-fall-2025-fri-0630/Week-02-Pandas-Part-2-and-DS-Overview/data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [8]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [11]:
# Show the column names and their types.

df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [24]:
# Remove ‘em.
df_food_clean = df_food[['calories_day', 'weight', 'Gender']]
df_food_clean

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [32]:
# Count ‘em.

df_food_clean.isnull().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [33]:
# Drop ‘em.

df_food_clean.dropna()

     calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [40]:
# Fix that.

df_food_clean['weight'] = pd.to_numeric(df_food_clean['weight'], errors = 'coerce')
df_food_clean.dropna(subset = ['weight'], inplace= True)


df_food_clean

/tmp/ipykernel_10934/863315038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_food_clean['weight'] = pd.to_numeric(df_food_clean['weight'], errors = 'coerce')
/tmp/ipykernel_10934/863315038.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_food_clean.dropna(subset = ['weight'], inplace= True)

     calories_day  weight  Gender
0             NaN   187.0       2
1             3.0   155.0       1
4             2.0   190.0       1
5             3.0   190.0       1
6             3.0   180.0       2
..            ...     ...     ...
120           4.0   156.0       1
121           2.0   180.0       1
122           NaN   120.0       1
123           4.0   135.0       2
124           NaN   135.0       1

[120 rows x 3 columns]

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [41]:
# Savey save!
df_food_clean.to_csv('cleaned food data.csv')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [64]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('/workspaces/ds-fall-2025-fri-0630/Week-02-Pandas-Part-2-and-DS-Overview/data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [65]:
# Count by hand. I’m dead serious.

df_salary.describe

<bound method NDFrame.describe of                 Timestamp How old are you?  What industry do you work in?  \
0      4/27/2021 11:02:10            25-34   Education (Higher Education)
1      4/27/2021 11:02:22            25-34              Computing or Tech
2      4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41            25-34                     Nonprofits
4      4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
...                   ...              ...                            ...
28057  7/12/2024 22:52:01            35-44                    Health care
28058  7/23/2024 17:51:03            25-34              Computing or Tech
28059  7/24/2024 12:22:58            18-24  Accounting, Banking & Finance
28060  7/26/2024 11:20:45            18-24              Computing or Tech
28061   8/20/2024 1:06:13            25-34                    Health care

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28057                              Veterinarian
28058                         Systems Architect
28059                 Risk Management Associate
28060                                        IT
28061                    Clinical physiologist

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28057                                             135000
28058                                             109000
28059                                               1200
28060                                               1700
28061                                            1200000

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                0.0
28060                                               10.0
28061                                                NaN

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28057                          USD
28058                          USD
28059                          USD
28060                          USD
28061                        Other

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28057                                             NaN
28058                                             NaN
28059                                             NaN
28060                                             NaN
28061                                             NGN

      If your income needs additional context, please provide it here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What country do you work in?  \
0                    United States
1                   United Kingdom
2                               US
3                              USA
4                               US
...                            ...
28057               United States
28058                          USA
28059                      Myanmar
28060                        Burma
28061                     Nigeria

      If you're in the U.S., what state do you work in?  \
0                                         Massachusetts
1                                                   NaN
2                                             Tennessee
3                                             Wisconsin
4                                        South Carolina
...                                                 ...
28057                                          Missouri
28058                                           Georgia
28059                                          Colorado
28060                                               NaN
28061                                               NaN

      What city do you work in?  \
0                        Boston
1                     Cambridge
2                   Chattanooga
3                     Milwaukee
4                    Greenville
...                         ...
28057               Wentzville
28058                   Atlanta
28059                    Yangon
28060                    Yangon
28061                     Lagos

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                        2 - 4 years
28061                                        2 - 4 years

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                     1 year or less
28061                                        2 - 4 years

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28057                 Professional degree (MD, JD, etc.)                Woman
28058                                     College degree                  Man
28059                                       Some college                  Man
28060                                       Some college                  Man
28061                                     College degree                Woman

      What is your race? (Choose all that apply.)
0                                           White
1                                           White
2                                           White
3                                           White
4                                           White
...                                           ...
28057                                       White
28058                                       White
28059                     Asian or Asian American
28060                     Asian or Asian American
28061                   Black or African American

[28062 rows x 18 columns]>

What are the columns and their types?

In [66]:
# Show the column names and their types.

df_salary.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [67]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [68]:
# List the unique industries and a count of their instances.

df_salary['industry'].value_counts()

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [69]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_salary[df_salary['industry'] == 'Computing or Tech']
df_salary_tech.head

<bound method NDFrame.head of                 timestamp    age           industry  \
1      4/27/2021 11:02:22  25-34  Computing or Tech
8      4/27/2021 11:03:01  45-54  Computing or Tech
43     4/27/2021 11:04:04  25-34  Computing or Tech
44     4/27/2021 11:04:04  25-34  Computing or Tech
46     4/27/2021 11:04:07  35-44  Computing or Tech
...                   ...    ...                ...
28050   7/1/2024 13:38:46  25-34  Computing or Tech
28051   7/1/2024 20:05:58  25-34  Computing or Tech
28052   7/3/2024 14:02:01  25-34  Computing or Tech
28058  7/23/2024 17:51:03  25-34  Computing or Tech
28060  7/26/2024 11:20:45  18-24  Computing or Tech

                                              title  \
1          Change & Internal Communications Manager
8                                   Systems Analyst
43                      Principal Software Engineer
44                             Intelligence Analyst
46                                 Mobile developer
...                                             ...
28050  Research & Systems Technician Data Analytics
28051                          Junior data analyst
28052        Senior Global Public Relations Manager
28058                             Systems Architect
28060                                            IT

                      title_context   salary  additional_compensation  \
1                               NaN   54,600                   4000.0
8      Data developer/ETL Developer  112,000                  10000.0
43                              NaN  187,500                   5000.0
44                              NaN  110,000                  20000.0
46                              NaN  144,600                   2500.0
...                             ...      ...                      ...
28050                           NaN    22000                      NaN
28051                           NaN    35000                  15000.0
28052                           NaN   144000                  15000.0
28058                           NaN   109000                      NaN
28060                           NaN     1700                     10.0

      currency other_currency                 salary_context         country  \
1          GBP            NaN                            NaN  United Kingdom
8          USD            NaN                            NaN              US
43         USD            NaN                            NaN   United States
44         USD            NaN  Around 20,000 a year in stock             USA
46         USD            NaN                            NaN             USA
...        ...            ...                            ...             ...
28050      EUR            NaN                            NaN           Spain
28051      USD            NaN                            NaN             Usa
28052      USD            NaN                            NaN             Usa
28058      USD            NaN                            NaN             USA
28060      USD            NaN                            NaN           Burma

               state                                          city  \
1                NaN                                     Cambridge
8           Missouri                                     St. Louis
43      Pennsylvania                                    Pittsburgh
44          Virginia                                 Arlington, VA
46     Massachusetts                                        Boston
...              ...                                           ...
28050            NaN                                     Barcelona
28051        Alabama                                      Alabama
28052  Massachusetts  Boise-but remote. Company located in Boston
28058        Georgia                                       Atlanta
28060            NaN                                        Yangon

           total_yoe       field_yoe highest_education_completed      gender  \
1       8 - 10 years       5-7 years              College degree  Non-binary
8      21 - 30 years   21 - 30 years              College degree       Woman
43      8 - 10 years       5-7 years              College degree       Woman
44      8 - 10 years    8 - 10 years             Master's degree         Man
46         5-7 years       5-7 years                         PhD       Woman
...              ...             ...                         ...         ...
28050    2 - 4 years     2 - 4 years              College degree         Man
28051    2 - 4 years     2 - 4 years              College degree       Woman
28052   8 - 10 years    8 - 10 years             Master's degree       Woman
28058      5-7 years       5-7 years              College degree         Man
28060    2 - 4 years  1 year or less                Some college         Man

                                      race
1                                    White
8                                    White
43                                   White
44                                   White
46                                   White
...                                    ...
28050  Hispanic, Latino, or Spanish origin
28051            Black or African American
28052                                White
28058                                White
28060              Asian or Asian American

[4699 rows x 18 columns]>

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [70]:
# Sanity Check 
df_salary_tech['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [ ]:
# Filtery filter for just the jobs that pay in USD!
usd = df_salary_tech['currency'] == 'USD'
df_salary_tech = df_salary_tech[usd]
df_salary_tech['industry'].value_counts()

industry
Computing or Tech    3777
Name: count, dtype: int64

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [63]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [83]:
# Replace them all with 'US'.
top_5_countries = df_salary_tech['country'].value_counts().head(2).index.tolist()

df_salary_tech['country'] = df_salary_tech['country'].replace(top_5_countries, 'US')

/tmp/ipykernel_10934/708502998.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech['country'] = df_salary_tech['country'].replace(top_5_countries, 'US')

Have a look at the count of each unique country again now.

In [84]:
# Count again.

df_salary_tech['country'].value_counts()

country
US                         3691
Israel                        5
Canada                        4
Unite States                  2
United State of America       2
                           ...
Ghana                         1
Nigeria                       1
ss                            1
Nigeria                       1
Burma                         1
Name: count, Length: 62, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [96]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
df_usa = df_salary_tech[df_salary_tech['country'] == 'US']


usa_salary = df_usa.groupby('state')['salary'].agg(['min', 'mean', 'max'])

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [97]:
# Fix it.
df_usa['salary'] = pd.to_numeric(df_usa['salary'], errors='coerce')

/tmp/ipykernel_10934/127044243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usa['salary'] = pd.to_numeric(df_usa['salary'], errors='coerce')

Let’s try that again.

In [99]:
# Try it again. Yeah!

usa_salary = df_usa.groupby('state')['salary'].agg(['min', 'mean', 'max'])
usa_salary

                                    min           mean       max
state
Alabama                         35000.0  117400.000000  350000.0
Alabama, District of Columbia       NaN            NaN       NaN
Alabama, Montana                    NaN            NaN       NaN
Alaska                              NaN            NaN       NaN
Arizona                         35000.0   97833.333333  145000.0
...                                 ...            ...       ...
Vermont                         91250.0  105625.000000  120000.0
Virginia                        58750.0  115086.696970  378000.0
Washington                         72.0  137038.579710  300000.0
West Virginia                  120000.0  120000.000000  120000.0
Wisconsin                           1.0  142069.269231  920000.0

[65 rows x 3 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [105]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_usa['timestamp'] = pd.to_datetime(df_usa['timestamp'])

years = [2021, 2022, 2023]
df_filtered = df_usa[df_usa['timestamp'].dt.year.isin(years)]

summary = df_filtered.groupby('state')['salary'].agg(['min', 'mean', 'max'])

print(summary)

                                    min           mean       max
state
Alabama                         52000.0  138000.000000  350000.0
Alabama, District of Columbia       NaN            NaN       NaN
Alabama, Montana                    NaN            NaN       NaN
Alaska                              NaN            NaN       NaN
Arizona                         35000.0   97833.333333  145000.0
...                                 ...            ...       ...
Vermont                         91250.0  105625.000000  120000.0
Virginia                        58750.0  115086.696970  378000.0
Washington                         72.0  137566.352941  300000.0
West Virginia                  120000.0  120000.000000  120000.0
Wisconsin                           1.0  142069.269231  920000.0

[65 rows x 3 columns]

/tmp/ipykernel_10934/3598357786.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usa['timestamp'] = pd.to_datetime(df_usa['timestamp'])

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)